{:db     {:jdbc-url             #required-env DATABASE_URL
          :username             #required-env DB_USER
          :password             #required-env DB_PASSWORD
          :maximum-pool-size    10}

 :server {:port  #or [#env PORT 3000]
          :join? false}

 :jwt    {:secret   #required-env JWT_SECRET
          :exp-secs 86400}}
